In [47]:
import pandas as pd
import html5lib
import numpy as np

In [36]:
df1=pd.read_html('html.html')

In [37]:
df1

[          COUNTY  REPUBLICAN  DEMOCRAT   MINOR     NONE     TOTAL
 0        ALACHUA       50399     85479    4153    39069    179100
 1          BAKER        7857      5925     182     1463     15427
 2            BAY       61528     31876    2658    23064    119126
 3       BRADFORD        7220      6298     252     2041     15811
 4        BREVARD      174589    131818   14903    94440    415750
 5        BROWARD      258088    603674   18907   311218   1191887
 6        CALHOUN        2281      5405      87      843      8616
 7      CHARLOTTE       56973     36307    5441    30801    129522
 8         CITRUS       49473     30550    3520    23247    106790
 9           CLAY       80223     32018    3897    30801    146939
 10       COLLIER      104443     48866    4722    47925    205956
 11      COLUMBIA       16693     14549     920     5921     38083
 12        DESOTO        5134      7487     241     3151     16013
 13         DIXIE        3685      4711     231     1326      9953
 14         DUVAL      220834    241220   17065   111504    590623
 15      ESCAMBIA       94699     73093    5468    38395    211655
 16       FLAGLER       31822     25371    1882    20821     79896
 17      FRANKLIN        2294      4171     147      817      7429
 18       GADSDEN        4490     22428     307     2364     29589
 19     GILCHRIST        6156      3568     313     1439     11476
 20        GLADES        2385      3100     164     1016      6665
 21          GULF        4662      4334     181     1067     10244
 22      HAMILTON        2306      4777     164      846      8093
 23        HARDEE        5025      4680     236     1793     11734
 24        HENDRY        6181      8240     303     2910     17634
 25      HERNANDO       53575     43289    4844    30127    131835
 26     HIGHLANDS       28149     20336    1718    12031     62234
 27  HILLSBOROUGH      268349    336990   23730   224453    853522
 28        HOLMES        6025      4041     120     1144     11330
 29  INDIAN RIVER       49991     29339    3419    24706    107455
 ..           ...         ...       ...     ...      ...       ...
 38       MADISON        3264      7174     208     1034     11680
 39       MANATEE      101132     71677    5622    54147    232578
 40        MARION      100642     76499    8354    41024    226519
 41        MARTIN       55653     28099    5304    22534    111590
 42    MIAMI-DADE      374671    594171   20342   407697   1396881
 43        MONROE       21378     18137    1482    14697     55694
 44        NASSAU       35486     13918    1983    10373     61760
 45      OKALOOSA       79511     26645    2873    28547    137576
 46    OKEECHOBEE        8498      7705     631     3394     20228
 47        ORANGE      214948    336042   17357   220258    788605
 48       OSCEOLA       47516     87357    4020    60774    199667
 49    PALM BEACH      256047    385417   31451   233487    906402
 50         PASCO      132000    108330   15354    84110    339794
 51      PINELLAS      228757    228571   23447   158616    639391
 52          POLK      146593    150048   11787   100897    409325
 53        PUTNAM       18162     20428     974     8279     47843
 54    SANTA ROSA       77044     26508    4333    24376    132261
 55      SARASOTA      130430     92983    9489    71373    304275
 56      SEMINOLE      111553     98566    7445    75054    292618
 57     ST. JOHNS       92728     41098    5232    35958    175016
 58     ST. LUCIE       62369     77848    6417    46393    193027
 59        SUMTER       49317     23600    3048    16954     92919
 60      SUWANNEE       11417     10900    1046     3156     26519
 61        TAYLOR        4275      6940     248      934     12397
 62         UNION        3031      3481     133      639      7284
 63       VOLUSIA      128948    129528   11895    96269    366640
 64       WAKULLA        7920      8765     573     2845     20103
 65        WALTON       27630      9809     897     8599     46935
 66    WASHINGTON        7629      5592     233     1806     15260
 67         TOTAL     4575277   4905705  347288  3130915  12959185

 [68 rows x 6 columns]]

In [64]:
m=df1[0]

In [65]:
m=np.array(m)

In [68]:
lm=m.tolist()

SyntaxError: invalid syntax (<ipython-input-72-a09f0ccfc5d2>, line 1)

In [88]:
def getdemocrat(data):
    return data[2]
sortedlm=sorted(lm, key=getdemocrat)

In [92]:
sortedlm.pop()

[u'TOTAL', 4575277, 4905705, 347288, 3130915, 12959185]

In [121]:
for i in sortedlm:
    string=str(i)[3:-1]
    purestr=string.replace(',',' ')
    purestr=purestr.replace("'",' ')
    print purestr

LAFAYETTE   1537  2615  57  254  4463
GLADES   2385  3100  164  1016  6665
LIBERTY   733  3392  25  349  4499
UNION   3031  3481  133  639  7284
GILCHRIST   6156  3568  313  1439  11476
HOLMES   6025  4041  120  1144  11330
FRANKLIN   2294  4171  147  817  7429
GULF   4662  4334  181  1067  10244
HARDEE   5025  4680  236  1793  11734
DIXIE   3685  4711  231  1326  9953
HAMILTON   2306  4777  164  846  8093
CALHOUN   2281  5405  87  843  8616
WASHINGTON   7629  5592  233  1806  15260
JEFFERSON   2738  5714  176  846  9474
BAKER   7857  5925  182  1463  15427
BRADFORD   7220  6298  252  2041  15811
TAYLOR   4275  6940  248  934  12397
MADISON   3264  7174  208  1034  11680
DESOTO   5134  7487  241  3151  16013
OKEECHOBEE   8498  7705  631  3394  20228
HENDRY   6181  8240  303  2910  17634
WAKULLA   7920  8765  573  2845  20103
LEVY   12315  9453  1287  3855  26910
WALTON   27630  9809  897  8599  46935
SUWANNEE   11417  10900  1046  3156  26519
NASSAU   35486  13918  1983  10373  61760
COLUMBIA   16693  14549  920  5921  38083
JACKSON   10153  15790  335  2771  29049
MONROE   21378  18137  1482  14697  55694
HIGHLANDS   28149  20336  1718  12031  62234
PUTNAM   18162  20428  974  8279  47843
GADSDEN   4490  22428  307  2364  29589
SUMTER   49317  23600  3048  16954  92919
FLAGLER   31822  25371  1882  20821  79896
SANTA ROSA   77044  26508  4333  24376  132261
OKALOOSA   79511  26645  2873  28547  137576
MARTIN   55653  28099  5304  22534  111590
INDIAN RIVER   49991  29339  3419  24706  107455
CITRUS   49473  30550  3520  23247  106790
BAY   61528  31876  2658  23064  119126
CLAY   80223  32018  3897  30801  146939
CHARLOTTE   56973  36307  5441  30801  129522
ST. JOHNS   92728  41098  5232  35958  175016
HERNANDO   53575  43289  4844  30127  131835
COLLIER   104443  48866  4722  47925  205956
LAKE   98232  70288  7542  48598  224660
MANATEE   101132  71677  5622  54147  232578
ESCAMBIA   94699  73093  5468  38395  211655
MARION   100642  76499  8354  41024  226519
ST. LUCIE   62369  77848  6417  46393  193027
ALACHUA   50399  85479  4153  39069  179100
OSCEOLA   47516  87357  4020  60774  199667
SARASOTA   130430  92983  9489  71373  304275
SEMINOLE   111553  98566  7445  75054  292618
PASCO   132000  108330  15354  84110  339794
LEON   57820  110270  4663  35771  208524
LEE   187671  118407  10850  113504  430432
VOLUSIA   128948  129528  11895  96269  366640
BREVARD   174589  131818  14903  94440  415750
POLK   146593  150048  11787  100897  409325
PINELLAS   228757  228571  23447  158616  639391
DUVAL   220834  241220  17065  111504  590623
ORANGE   214948  336042  17357  220258  788605
HILLSBOROUGH   268349  336990  23730  224453  853522
PALM BEACH   256047  385417  31451  233487  906402
MIAMI-DADE   374671  594171  20342  407697  1396881
BROWARD   258088  603674  18907  311218  1191887