In [379]:
import re
# Opening the file
fp = open('html.html', 'r')

In [383]:
raw=fp.readlines()

0

In [278]:
def find_raw_numbers(s):
    res_tr = r'<tbody>(.*?)</tbody>'
    return re.findall(res_tr,s)

t=str(raw)
raw_numbers=find_raw_numbers(t)

In [286]:
def find_useful_numbers(s):
    res_tr = r'<tr>(.*?)</tr>'
    return re.findall(res_tr,s)

useful_numbers=find_useful_numbers(str(raw_numbers))

In [368]:
def clear(s):
    s=s.replace("\\\\r\\\\n","")
    s=s.replace("<td>","")
    s=s.replace("</td>","")
    s=s.replace("'","")
    s=s.replace('"',"")
    s=s.split(', ')[1:-1]
    
    return s

In [369]:
clear_numbers=[clear(nums)for nums in useful_numbers]

In [371]:
clear_numbers.pop()

['<strong>TOTAL</strong>',
 '<strong>4,575,277</strong>',
 '<strong>4,905,705</strong>',
 '<strong>347,288</strong>',
 '<strong>3,130,915</strong>',
 '<strong>12,959,185</strong>']

In [373]:
clear_numbers[0]

['ALACHUA', '50,399', '85,479', '4,153', '39,069', '179,100']

In [374]:
def getdemocrat(data):
    datastr=str(data[2])
    dataint=int(datastr.replace(',',''))
    return dataint
sortedcleardata=sorted(clear_numbers, key=getdemocrat)

In [375]:
sortedcleardata

[['LAFAYETTE', '1,537', '2,615', '57', '254', '4,463'],
 ['GLADES', '2,385', '3,100', '164', '1,016', '6,665'],
 ['LIBERTY', '733', '3,392', '25', '349', '4,499'],
 ['UNION', '3,031', '3,481', '133', '639', '7,284'],
 ['GILCHRIST', '6,156', '3,568', '313', '1,439', '11,476'],
 ['HOLMES', '6,025', '4,041', '120', '1,144', '11,330'],
 ['FRANKLIN', '2,294', '4,171', '147', '817', '7,429'],
 ['GULF', '4,662', '4,334', '181', '1,067', '10,244'],
 ['HARDEE', '5,025', '4,680', '236', '1,793', '11,734'],
 ['DIXIE', '3,685', '4,711', '231', '1,326', '9,953'],
 ['HAMILTON', '2,306', '4,777', '164', '846', '8,093'],
 ['CALHOUN', '2,281', '5,405', '87', '843', '8,616'],
 ['WASHINGTON', '7,629', '5,592', '233', '1,806', '15,260'],
 ['JEFFERSON', '2,738', '5,714', '176', '846', '9,474'],
 ['BAKER', '7,857', '5,925', '182', '1,463', '15,427'],
 ['BRADFORD', '7,220', '6,298', '252', '2,041', '15,811'],
 ['TAYLOR', '4,275', '6,940', '248', '934', '12,397'],
 ['MADISON', '3,264', '7,174', '208', '1,034', '11,680'],
 ['DESOTO', '5,134', '7,487', '241', '3,151', '16,013'],
 ['OKEECHOBEE', '8,498', '7,705', '631', '3,394', '20,228'],
 ['HENDRY', '6,181', '8,240', '303', '2,910', '17,634'],
 ['WAKULLA', '7,920', '8,765', '573', '2,845', '20,103'],
 ['LEVY', '12,315', '9,453', '1,287', '3,855', '26,910'],
 ['WALTON', '27,630', '9,809', '897', '8,599', '46,935'],
 ['SUWANNEE', '11,417', '10,900', '1,046', '3,156', '26,519'],
 ['NASSAU', '35,486', '13,918', '1,983', '10,373', '61,760'],
 ['COLUMBIA', '16,693', '14,549', '920', '5,921', '38,083'],
 ['JACKSON', '10,153', '15,790', '335', '2,771', '29,049'],
 ['MONROE', '21,378', '18,137', '1,482', '14,697', '55,694'],
 ['HIGHLANDS', '28,149', '20,336', '1,718', '12,031', '62,234'],
 ['PUTNAM', '18,162', '20,428', '974', '8,279', '47,843'],
 ['GADSDEN', '4,490', '22,428', '307', '2,364', '29,589'],
 ['SUMTER', '49,317', '23,600', '3,048', '16,954', '92,919'],
 ['FLAGLER', '31,822', '25,371', '1,882', '20,821', '79,896'],
 ['SANTA ROSA', '77,044', '26,508', '4,333', '24,376', '132,261'],
 ['OKALOOSA', '79,511', '26,645', '2,873', '28,547', '137,576'],
 ['MARTIN', '55,653', '28,099', '5,304', '22,534', '111,590'],
 ['INDIAN RIVER', '49,991', '29,339', '3,419', '24,706', '107,455'],
 ['CITRUS', '49,473', '30,550', '3,520', '23,247', '106,790'],
 ['BAY', '61,528', '31,876', '2,658', '23,064', '119,126'],
 ['CLAY', '80,223', '32,018', '3,897', '30,801', '146,939'],
 ['CHARLOTTE', '56,973', '36,307', '5,441', '30,801', '129,522'],
 ['ST. JOHNS', '92,728', '41,098', '5,232', '35,958', '175,016'],
 ['HERNANDO', '53,575', '43,289', '4,844', '30,127', '131,835'],
 ['COLLIER', '104,443', '48,866', '4,722', '47,925', '205,956'],
 ['LAKE', '98,232', '70,288', '7,542', '48,598', '224,660'],
 ['MANATEE', '101,132', '71,677', '5,622', '54,147', '232,578'],
 ['ESCAMBIA', '94,699', '73,093', '5,468', '38,395', '211,655'],
 ['MARION', '100,642', '76,499', '8,354', '41,024', '226,519'],
 ['ST. LUCIE', '62,369', '77,848', '6,417', '46,393', '193,027'],
 ['ALACHUA', '50,399', '85,479', '4,153', '39,069', '179,100'],
 ['OSCEOLA', '47,516', '87,357', '4,020', '60,774', '199,667'],
 ['SARASOTA', '130,430', '92,983', '9,489', '71,373', '304,275'],
 ['SEMINOLE', '111,553', '98,566', '7,445', '75,054', '292,618'],
 ['PASCO', '132,000', '108,330', '15,354', '84,110', '339,794'],
 ['LEON', '57,820', '110,270', '4,663', '35,771', '208,524'],
 ['LEE', '187,671', '118,407', '10,850', '113,504', '430,432'],
 ['VOLUSIA', '128,948', '129,528', '11,895', '96,269', '366,640'],
 ['BREVARD', '174,589', '131,818', '14,903', '94,440', '415,750'],
 ['POLK', '146,593', '150,048', '11,787', '100,897', '409,325'],
 ['PINELLAS', '228,757', '228,571', '23,447', '158,616', '639,391'],
 ['DUVAL', '220,834', '241,220', '17,065', '111,504', '590,623'],
 ['ORANGE', '214,948', '336,042', '17,357', '220,258', '788,605'],
 ['HILLSBOROUGH', '268,349', '336,990', '23,730', '224,453', '853,522'],
 ['PALM BEACH', '256,047', '385,417', '31,451', '233,487', '906,402'],
 ['MIAMI-DADE', '374,671', '594,171', '20,342', '407,697', '1,396,881'],
 ['BROWARD', '258,088', '603,674', '18,907', '311,218', '1,191,887']]

In [376]:
for i in sortedlm:
    string=str(i)[3:-1]
    purestr=string.replace(',',' ')
    purestr=purestr.replace("'",' ')
    print purestr

LAFAYETTE   1537  2615  57  254  4463
GLADES   2385  3100  164  1016  6665
LIBERTY   733  3392  25  349  4499
UNION   3031  3481  133  639  7284
GILCHRIST   6156  3568  313  1439  11476
HOLMES   6025  4041  120  1144  11330
FRANKLIN   2294  4171  147  817  7429
GULF   4662  4334  181  1067  10244
HARDEE   5025  4680  236  1793  11734
DIXIE   3685  4711  231  1326  9953
HAMILTON   2306  4777  164  846  8093
CALHOUN   2281  5405  87  843  8616
WASHINGTON   7629  5592  233  1806  15260
JEFFERSON   2738  5714  176  846  9474
BAKER   7857  5925  182  1463  15427
BRADFORD   7220  6298  252  2041  15811
TAYLOR   4275  6940  248  934  12397
MADISON   3264  7174  208  1034  11680
DESOTO   5134  7487  241  3151  16013
OKEECHOBEE   8498  7705  631  3394  20228
HENDRY   6181  8240  303  2910  17634
WAKULLA   7920  8765  573  2845  20103
LEVY   12315  9453  1287  3855  26910
WALTON   27630  9809  897  8599  46935
SUWANNEE   11417  10900  1046  3156  26519
NASSAU   35486  13918  1983  10373  61760
COLUMBIA   16693  14549  920  5921  38083
JACKSON   10153  15790  335  2771  29049
MONROE   21378  18137  1482  14697  55694
HIGHLANDS   28149  20336  1718  12031  62234
PUTNAM   18162  20428  974  8279  47843
GADSDEN   4490  22428  307  2364  29589
SUMTER   49317  23600  3048  16954  92919
FLAGLER   31822  25371  1882  20821  79896
SANTA ROSA   77044  26508  4333  24376  132261
OKALOOSA   79511  26645  2873  28547  137576
MARTIN   55653  28099  5304  22534  111590
INDIAN RIVER   49991  29339  3419  24706  107455
CITRUS   49473  30550  3520  23247  106790
BAY   61528  31876  2658  23064  119126
CLAY   80223  32018  3897  30801  146939
CHARLOTTE   56973  36307  5441  30801  129522
ST. JOHNS   92728  41098  5232  35958  175016
HERNANDO   53575  43289  4844  30127  131835
COLLIER   104443  48866  4722  47925  205956
LAKE   98232  70288  7542  48598  224660
MANATEE   101132  71677  5622  54147  232578
ESCAMBIA   94699  73093  5468  38395  211655
MARION   100642  76499  8354  41024  226519
ST. LUCIE   62369  77848  6417  46393  193027
ALACHUA   50399  85479  4153  39069  179100
OSCEOLA   47516  87357  4020  60774  199667
SARASOTA   130430  92983  9489  71373  304275
SEMINOLE   111553  98566  7445  75054  292618
PASCO   132000  108330  15354  84110  339794
LEON   57820  110270  4663  35771  208524
LEE   187671  118407  10850  113504  430432
VOLUSIA   128948  129528  11895  96269  366640
BREVARD   174589  131818  14903  94440  415750
POLK   146593  150048  11787  100897  409325
PINELLAS   228757  228571  23447  158616  639391
DUVAL   220834  241220  17065  111504  590623
ORANGE   214948  336042  17357  220258  788605
HILLSBOROUGH   268349  336990  23730  224453  853522
PALM BEACH   256047  385417  31451  233487  906402
MIAMI-DADE   374671  594171  20342  407697  1396881
BROWARD   258088  603674  18907  311218  1191887